.ListItem {
    color: #00818d;
    margin: 15px;
    text-align: center;
    font-weight: bold;
   
    
  } 

body {
    background-color: #edc951;
    color: #88232c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 30px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    
}

.Heading1 {
    padding: 50px;
    font-size: 55px;
    font-weight: 700;
    color: #6a4a3c;
    text-align: center;
}

.Input {
    border: 2px solid #6a4a3c;
    border-radius: 5px;
    background-color: #faecbc;
    padding: 7px 10px;
    
}

.Button {
    background-image: linear-gradient(#faecbc, #95b5b8);
    font-size: 15px;
    margin: 10px;
    border-radius: 5px;
    
}

.List {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    body {
        background-color: antiquewhite;
    }   
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    body {
        background-color: #f1d2a9;
    }   
}

